body{
    margin: 0;
    background-color: rgb(123, 130, 136);
}

.container{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: flex;
} 

.container img{
    width: 750px;
    border-radius: 10px;
}

.header{
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 10px;
    background-color: rgb(200, 255, 0);
    height: auto;
    line-height: 80px;
}

.main{
    background-color: yellowgreen;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

#encabezado-header{
    color: blueviolet;
}

#encabezado-left{
    color: red;
}
#encabezado-left img{
    height: 500px;
    width: 250px
}

#encabezado-right{
    color: blue;
}


/* ESTILO DEL NAV O MENU */
.menu{    
    background-color: aquamarine; 
    margin: 0;
    padding: 10px;
    justify-content: center;
    display:flex;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline;
    padding: 10px;
}
.menu ul li a{
    color: brown;
    text-decoration: none;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu ul li a:hover{
    color: rgb(67, 67, 200);
}

/* ORDENAR SECCIONES */
.section-menu{
    display: none;
    padding: 20px;
    border: 1px solid black;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: rgb(red, green, blue);
}
:target{
    display: block;
}
